{% extends 'base.html' %}

{% block title %}Ingresar - Atletas{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Portal de Atletas</h2> 
    <p class="auth-subtitle text-gray">Ingresa con tu correo y contraseña.</p>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert-box mb-4 text-center">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form action="{{ url_for('login') }}" method="POST">
        <div class="form-group">
            <label for="username">Nombre de Usuario o Email</label>
            <input type="text" id="username" name="username" placeholder="ej: tu_correo@gmail.com" required>
        </div>
        
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="••••••••" required>
        </div>
        
        <button type="submit" class="btn-glow w-100 py-3 mt-3" style="font-size: 1.1rem;">ENTRAR COMO ATLETA</button>
    </form>
    
    <div style="margin-top: 30px;">
        <hr style="border-color: #333; margin-bottom: 20px;">
        <p class="small text-gray">¿Eres el entrenador? <br> <a href="{{ url_for('login_entrenador') }}" class="text-red font-bold" style="text-decoration: none;">Acceso para Administradores</a></p>
    </div>
</div>
{% endblock %}